body {
    background-color: #111111;
}

header, footer {
    text-align: center;
    padding: 2rem 0;
}

h1, h2 {
    color: #333;
}

a{
    text-decoration: none !important;
}

a.contrast {
    background-color: #333;
    color: #fff;
}

.central-form {
    max-width: 600px;
    margin: 0 auto;
}

.text-white{
    color : #f9f9f9;
} 

.hero{
    padding-top: 2em;
    min-height: 70vh;
}

.alert {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    color: #fefefe !important;
  }
  
  .alert.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
  }
  
  .alert.alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
  }
  
  .alert.alert-danger {
    background-color: #f2dede;
    border-color: #a94442;
  }
  
  .alert__close {
    border: none;
    background: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    float: right; /* optional: move close button to the right */
  }